folium
holidays
imbalanced-learn
joblib
jupyter
kagglehub
loguru
matplotlib
numpy==1.26.4
pandas==2.2.3
plotly==5.22.0
python-dotenv
pmdarima
scikit-learn==1.4.2
scipy
seaborn
statsmodels==0.14.4
streamlit
xgboost==3.2.0